
img.logo {
	width: 25%;
	position: responsiveness;
	padding-top: 4%;
	padding-left: 70%
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}
body {margin:0;}

h1 {
/* This is my header 1 style */
	font-size: 250%;
    color: blue;
    text-align: center;
	padding: 15px;
}

p {
    color: black;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  overflow: auto;     /* Change from hidden to auto */
  background-color: #333;
  position: fixed;
  top: 0;
}

/* Navigation links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;  /* If you want the text to be centered */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 16.66%;  /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background: #aeafb5;
  color: #967c42;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 800px;   /* Was 100% , toe maak ek dit 800px om te sien of ek my logo kan sien deur te kan scroll */
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  width: 100px;
  height: 40px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 100px;
  height: 40px;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 10%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal/Login screen (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in one place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 40px;
}

/* Modal Content/Box - Dit wat binne in die Login boks is */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 55%; /* Could be more or less, depending on screen size */
  position: relative; /* To place logo within dimentions */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100px;
  }
}


